.input-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.pb {
  margin-bottom: 15px;
}

.add-btn {
  width: fit-content;
}

ul {
  padding-inline-start: 0;
}

.item {
  list-style: none;
}

.remove-button {
  margin: 0 0 10px;
}
